.posts__list {
  list-style: none;
  padding: 0;
}

.buttons {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid aliceblue;
  color: aliceblue;
  &:hover {
    color: rgb(198, 201, 202);
    border: 1px solid rgb(198, 201, 202);
    cursor: pointer;
  }
  &__auth,
  &__change-post {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  &__add-new,
  &__back-to-all {
    position: absolute;
    top: 40px;
    left: 40px;
  }
}
.posts__auth {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid aliceblue;
  color: aliceblue;
  &:hover {
    color: rgb(198, 201, 202);
    border: 1px solid rgb(198, 201, 202);
    cursor: pointer;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242424;
  border-radius: 10px;
  border: 1px solid aliceblue;
  color: aliceblue;
  padding: 20px;
  z-index: 100;
}
.modal input {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
