.card__link {
  color: aliceblue;
  &:hover {
    color: rgb(198, 201, 202);
  }
}

.card__item {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid aliceblue;
  margin-bottom: 10px;
  &:hover {
    border: 1px solid rgb(198, 201, 202);
    cursor: pointer;
  }
}

.card__text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
